<div class="post">

  <h2>本人確認メールの再送信</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "送信", class: "btn btn-primary btn-block", :class => "form-control" %>
    </div>
  <% end %>

  <div class="deviselinks">
    <%= render "devise/shared/links" %>
  </div>
</div>
