<div class="post">
  <h2><%= current_user.name %>さんのマイページ</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_messages! %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, :class => "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <% unless current_user.provider == "facebook" || current_user.provider == "twitter" %>
      <div class="field form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>＊最低<%= @minimum_password_length %> 文字</em>
        <% end %>
        <i>(変更する場合のみご入力下さい)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>

      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password %> <i>(確認のためにご入力下さい)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
      </div>
    <% end %>

    <div class="actions">
       <%= f.submit "更新", class: "btn btn-primary btn-block" %>
    </div>
  <% end %><br /><br />

  <h3>退会しますか？</h3>

  <%= button_to "削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-block"  %></p>

  <div class="deviselinks">
    <%= link_to "戻る", :back %>
  </div>
</div>
