<div class="post">
<h2>詳細ページ</h2>

<%= form_for(@photo) do |f| %>
  <%= f.label :title %>
  <%= @photo.title %>
  <br />
  <%= image_tag @photo.picture %><br />
  <%= f.label :content %>
  <%= @photo.content %>
  <br />
<% end %>

<%= link_to "一覧ページに戻る", photos_path %>
</div>
